<section class="banner">
  <app-banner></app-banner>
</section>
<div class="row">
    <div class="content-container">
        
        <div class="content-card">
            <div class="card">
                <img src="https://polo.exdomain.net/image/catalog/danh-muc/mau-thiet-ke-noi-that-dep-3.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nội thất biệt thự</h5>
                </div>
            </div>
            <div class="card">
                <img src="https://polo.exdomain.net/image/catalog/danh-muc/thiet-ke-noi-that-chung-cu_1.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nội thất chung cư</h5>
                </div>
            </div>
            <div class="card">
                <img src="https://polo.exdomain.net/image/catalog/danh-muc/thiet-ke-noi-that-van-phong-1.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nội thất văn phòng</h5>
                </div>
            </div>
        </div>
        <section class="product">
            <app-product></app-product>
          </section>
        <hr />

        <div class="content-banner">
            <img src="https://polo.exdomain.net/image/cache/catalog/banner/banner-nabi-slide-02-1897x823-1200x500.jpg"
                alt="">
        </div>
        <hr />

        <div class="content-footer">
            <div class="card1">
                <img src="https://polo.exdomain.net/image/catalog/danh-muc/thiet-ke-noi-that-chung-cu_1.jpg" class="car"
                    alt="">
                <div class="card-body1">
                    <div class="card-child">Nội thất chung cư <div class="hr"></div>
                    </div>
                </div>
            </div>
            <div class="card1">
                <img src="https://polo.exdomain.net/image/catalog/danh-muc/thiet-ke-noi-that-van-phong-1.jpg"
                    class="car" alt="">
                <div class="card-body1">
                    <div class="card-child">Nội thất văn phòng <div class="hr"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>